<div ng-controller="AuthorsCtrl" class="left down">
	<h4 ng-hide="authors.length">По вашему запросу не найден ни один автор</h4>
	<div ng-repeat="author in authors" class="books">
		<div class="col-sm-3">
			<a href='/author/{{author.id}}'>
				<img ng-src="{{author.imageUrl}}">
				<div>{{author.name}} {{author.lastName}}</div>
			</a>
		</div>
	</div>
</div>