<div ng-controller="AuthorsCtrl" class="left down">
	<h4 ng-hide="authors.length">По вашему запросу не найден ни один автор</h4>
	<div ng-repeat="author in authors" class="books">
		<div class="col-sm-3">
			<a href='/author/{{author.id}}'>
				<img src="{{author.image_url}}">
				<div>{{author.Name}} {{author.Last_Name}}</div>
			</a>
		</div>
	</div>
</div>