<div class="books">
	<% books.forEach(function(book) { %>
		<div class="col-sm-3">
			<a href='/book/<%= book.id %>'>
				<img src="<%= book.imageUrl %>">
				<div><%= book.name %></div>
			</a>
		</div>
	<% }) %>
</div>