	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body ng-app="Books">

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href ="/">
					<img alt="inbooks" src="/book.gif">
				</a>
			</div>

			<div class="head">
				<div class="col-lg-5 col-lg-offset-2" ng-controller="SearchCtrl">
					<form action="/search" >
						<div class="input-group">
							<input type="text" ng-model="query" name="query" class="form-control" placeholder="Search for...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">Search!</button>
							</span>
						</div>
					</form>
					<ul class="nav nav-pills">
						<li role="presentation"><a href="#">Жанры</a></li>
						<li role="presentation"><a href="/authors">Авторы</a></li>
						<li role="presentation"><a href="#">Отзывы</a></li>
						<li role="presentation"><a href="/lists">Списки</a></li>
					</ul>
				</div>
				
				<span ng-controller="LogoutCtrl">
					<% if (login) { %>
						<a href="/user/<%= login %>"><%= login %></a>
						<a href ng-click="send()" value="Выйти">Выйти</a>
					<% } else { %>
						<a href='/registration'>Зарегистрироваться</a>
						<a href='/login'>Войти!</a>
					<% } %>
				</span>
			</div>
		</div>
	</nav>