<div ng-controller="ListCtrl" class="left">
	<h4 class="down" ng-hide="lists.length">По вашему запросу не найдено ни одного списка</h4>
	<div ng-repeat="list in lists">
		<div class="col-sm-12">
			<a href="/list/{{list.id}}"><h3>{{list.Name}}<span class="badge">{{list.members}}</span></h3></a>

			<div ng-repeat="book in booksShow[list.id]" class="books">
				<div class="col-sm-3">
					<a href='/book/{{book.id}}'>
						<img src="{{book.image_url}}">
						<div>{{book.Name}}</div>
					</a>
				</div>
			</div>
			
		</div>
	</div>
</div>