<div ng-hide="reviews">Loading...</div>
<div ng-show="reviews.length" class="down">
	<div ng-repeat="review in reviews">
		<blockquote>
			<a href="/user/{{review.id_user}}">{{review.NickName}}</a>
			<span ng-show="review.Name">Книга: </span>
			<a href="/book/{{review.id_book}}">{{review.Name}}</a>
			<span>{{review.birthDate | date:'dd-MM-yyyy'}}</span>
				<button class="btn btn-default" ng-show="id == review.id_user" ng-click="deleteReview(review.id)" aria-label="Left Align">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			<h4><b>{{review.title}}</b></h4>
			<div>
				{{review.text}}
			</div>
		</blockquote>
	</div>
</div>
