<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= author[0].Name%> <%= author[0].Last_Name%></title>

	<% include	includes/header.ejs %>

	<div class="row-fluid" ng-controller="AuthorCtrl">
		<div class="col-sm-3 book-image">
			<img src="<%= author[0].image_url %>" class="img-rounded" alt="<%= author[0].Last_Name %>">
			
		</div>
		<div class="col-sm-9">
			<h1><%= author[0].Name %>
			<% if (author[0].patronymic) {%>
				<%= author[0].patronymic %> 
			<% } %>
			<%= author[0].Last_Name %></h1>
			<p><%= author[0].Biography %></p><br/>
			<p><b>Дата рождения:</b> {{birthDate | date:'dd-MM-yyyy'}}</p><br/>
			<p><b>Страна происхождения:</b> <%= author[0].Counry_of_birth %></p>

			<div ng-controller="FactsCtrl">
				<span ng-show="facts.length"><b>Факты:</b></span>
				<span ng-repeat="fact in facts">
					{{fact.fact}}
				</span>
			</div>
		</div>
		<h3 ng-show="books.length">Является автором следующих книг: </h3>
		<div book-list="books"></div>

	</div>

	<script>
		window.App = {
			authorId: <%= author[0].id%>,
			authorDate: "<%= author[0].Birth_date.toUTCString() %>"
		}
	</script>
	<% include includes/scripts.ejs %>
 	<script src="/js/author.js"></script>
 	<script src="/js/directives/bookListDirective.js"></script>
</body>
</html>