<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= book[0].Name %></title>

	<% include	includes/header.ejs %>
	
	<div class="row-fluid">
		<div class="col-sm-3 book-image">
			<img src="<%= book[0].image_url %>" class="img-rounded" alt="<%= book[0].Name %>">
			<div ng-controller="ReadCtrl">
				<% if (login) { %>

				<button class="btn btn-default btn-block" ng-class="{'btn-primary':isReaded}" ng-click="action()">{{ text }}</button>

				<% } %>
			</div>
		</div>

		<div class="col-sm-9">
			<h1><%= book[0].Name %></h1>
			<p><%= book[0].Description %></p><br/>
			<p><b>Дата первого издания:</b> <%= book[0].Birth_data %></p><br/>
			<p><b>Автор: </b>
				<a href='/author/<%= author[0].id %>'>
					<%= author[0].Name %>
					<% if (author[0].patronymic) { %>
						<%= author[0].patronymic %> 
					<% } %>
					<%= author[0].Last_Name %>
				</a>
			</p>
			<div ng-controller="ListCtrl" ng-show="lists"><b>Списки:</b>
					<span ng-repeat="list in lists"><a href="/list/{{list.id}}">{{list.Name}} </a></span>
			</div>

			<% if (login) { %>
				<div ng-controller="ReviewCtrl">
					<input type="button" ng-hide="buttonHide" class="btn btn-default" value="Оставить отзыв" ng-click="checked=!checked">

	 				<form ng-show="checked" class="form-horizontal">

		 				<div class="form-group">
		 					<label class="col-sm-3 control-label">Загаловок отзыва:</label>
							<div class="col-sm-6">
		 						<input type="text" class="form-control" ng-model="review.head" placeholder="Загаловок отзыва">
		 					</div>
		 				</div>

		 				<div class="form-group">
							<label class="col-sm-3 control-label">Отзыв:</label>
							<div class="col-sm-6">
								<textarea type="text" ng-model="review.body" class="form-control" placeholder="Введите описание книги" rows = "6"></textarea>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-5">
								<button  ng-click="send()" class="btn btn-default">Save</button>
								<button  ng-click="review=null" class="btn btn-default">Cancel</button>
							</div>
						</div>

					</form>
				</div>

			<% } %>
		</div>
	</div>

	<script>
		window.App = {
			isReaded: <%= isReaded %>
		}
	</script>
	
	
	<% include includes/scripts.ejs %>
 	<script src="/js/book.js"></script>

</body>
</html>