<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Books</title>
	
	<% include includes/header.ejs%>

	<div class="left">
		<h3>Популярные</h3>

		<% include includes/booksList.ejs %>

		<h3>Новые</h3>

		<div class="books">
			<% newbooks.forEach(function(book) { %>
				<div class="col-sm-3">
					<a href='/book/<%= book.id %>'>
						<img src="<%= book.image_url %>">
						<div><%= book.Name %></div>
					</a>
				</div>
			<% }) %>
		</div>

		<h3>Классика</h3>
		<div class="books">
			<% classic.forEach(function(book) { %>
				<div class="col-sm-3">
					<a href='/book/<%= book.id %>'>
						<img src="<%= book.image_url %>">
						<div><%= book.Name %></div>
					</a>
				</div>
			<% }) %>
		</div>
	</div>
	<% include includes/scripts.ejs %>

</body>
</html>