<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Books</title>
</head>
 <link href="bootstrap.min.css" rel="stylesheet">
<body ng-app="Exit">
	<img src="book.png" width = "120" height="100" class="img-rounded" alt="Книга">
	<h3> Ведь и мы хотим жить и летать!</h3>

		<% include includes/login.ejs %>
		<% include includes/booksList.ejs %>

	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<script src="bootstrap.min.js"></script>
	<script src="angular.min.js"></script>
 	<script src="scriptIndex.js"></script>
</body>
</html>