<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Books</title>
	
	<% include includes/header.ejs%>

	<div class="left" ng-controller="BooksLists">
		<h3>Популярные</h3>

		<% include includes/booksList.ejs %>

		<h3>Новые</h3>
		<div book-list="newBooks"></div>
		
		<h3>Рейтинг</h3>
		<div book-list="books"></div>
	</div>

	<% include includes/scripts.ejs %>
	<script src="/js/index.js"></script>
	<script src="/js/directives/bookListDirective.js"></script>
</body>
</html>