<html >
	<head>
		<title>Вход</title>
	
	<% include	includes/header.ejs %>

		<form ng-controller="LoginCtrl" ng-submit="sendData()">
			<input type="text" ng-model="user.nickName" placeholder="Введите login" required><br/>
	 		<input type="password" ng-model="user.password" placeholder="Введите пароль" required><br/>

	  		<button type="submit">Вход</button>
	 		<span ng-bind="message"></span>
		</form>
		<a href="/">На главную</a>
		<a href='/registration'>Зарегистрироваться</a>

 		<% include includes/scripts.ejs %>

 		<script src="/js/login.js"></script>
	</body>
</html>