<html ng-app="books">
<head>
<title> Registration of user</title>	
</head>
<body>
<form name="formA"ng-controller="registration" ng-submit="sendData()">
  <input name="name"type="text" ng-model="user.nickName" placeholder="Введите login" maxlength="20" required><br/>
  <input name="email" type="email" ng-model="user.email" placeholder="Введите email" required>
  	<span ng-show="formA.email.$error.email">Не корректная почта</span><br/>
  <input type="password" ng-model="user.password" placeholder="Введите пароль" required><br/>
  
  <button type="submit">Регистрация</button>
</form>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 <script src="script.js"></script>
</body>
</html>