<!DOCTYPE html>
<html>
	<head>
		<title> <%= user[0].NickName %> </title>
	</head>
	<body ng-app="user">
	<div ng-controller="out">
		<% if (login) { %>
			<p> You are <%= login %></p>
			<input type="button" ng-click="send()" value="Выйти">
		<% } else { %>
			<a href='/registration'>Зарегистрироваться</a>
			<a href='/login'>Войти!</a>
		<% } %>
	</div>
	<div ng-controller="friend">
		<h1> <%= user[0].NickName %> </h1>
			<% if (user[0].Name) { %>
				<span > Name is : <%= user[0].Name+" " %></span>
				<% if (user[0].LastName) { %>
					<%= user[0].LastName%><br/>
			<% }} %>
			
			<% if (login == user[0].NickName) { %>
				<a href="/setting"><input type="button" value = "Редактировать"></a>
			<% } else { %>
				<% if (flag.length > 0 && flag !== null ) { %>
					<input type="button" value="Отписаться" ng-click="follow()">
				<% } else { %>
					<input type="button" value = "Подписаться" ng-click="follow()">
				<% } %>
			<% } %>
		<ul>
			<p> Прочитанные книги: </p>
			<% books.forEach(function(book) { %>
			<li>
				<a href='/book/<%= book.id %>'><%= book.Name %></a>
			</li>
			<% }) %>
		</ul>
		<a href="/">На главную</a>
	</div>
	<script src="/angular.min.js"></script>
 	<script src="/userscript.js"></script>
	</body>
</html>