<!DOCTYPE html>
<html>
	<head>
		<title> <%= user[0].NickName %> </title>
	</head>
	<body ng-app="user">
	<% include 	includes/login.ejs %>
	<div ng-controller="friend">
		<h1> <%= user[0].NickName %> </h1>
			<% if (user[0].Name) { %>
				<span > Name is : <%= user[0].Name+" " %></span>
				<% if (user[0].LastName) { %>
					<%= user[0].LastName%>
				<% } %>
				<br/>
			<% } %>
			
			<% if (login == user[0].NickName) { %>
				<a href="/setting"><input type="button" value = "Редактировать"></a><br/>
			<% } else { %>
				<% if (flag.length > 0 && flag !== null ) { %>
					<input type="button" value="Отписаться" ng-click="follow()"><br/>
				<% } else { %>
					<input type="button" value = "Подписаться" ng-click="follow()"><br/>
				<% } %>
			<% } %>
		<% if (books != null && books.length > 0) { %>
			<span> Прочитанные книги: </span>
			<% include includes/booksList.ejs %>
		<% } %>
		<a href="/">На главную</a>
	</div>
	<script src="/angular.min.js"></script>
 	<script src="/userscript.js"></script>
	</body>
</html>