

/* STYLES FOR HEADER */

.head {
	margin-top: 15px;
}
.navbar-brand {
	height: 100px;
	padding: 0;
}
.navbar-brand img {
	width: 120px;
	height: 100px;
	margin-top: -5px;
	margin-left: 15px;
}

.head ul {
	margin-top: 5px;
}

.navbar {
	border-radius: 0;
}

/* STYLES FOR BOOK */

.book-image img {
	max-width: 100%;
}

.book-image input{
	margin-top: 5px;
	border: 1px solid #333333;
}

/* STYLES FOR EDIT */

.down{
	margin-top: 15px;
}

/* STYLES FOR BOOKLIST*/

.books img {

	width: 200px;
	height: 250px;
}


.books div{
	margin-bottom: 20px;
	text-align: center;
}

/* STYLES FOR INDEX AND SEARCH*/
.left{
	margin-left: 20px;
}

.modal-body div{
	margin: 5px 0;
}