

/* STYLES FOR HEADER */

.navbar-default {
	line-height: 100px;
}
.navbar-brand {
	height: 100px;
	padding: 0;
}
.navbar-brand img {
	width: 120px;
	height: 100px;
	margin-top: -5px;
}
.navbar-form {
	margin: 0;
	border: none;
}
.navbar-default .input-group-btn {
	line-height: 14px;
}


